{% extends 'base.html' %}

{% block body_class %}
bg-snow text-textBlack font-NotoSans
{% endblock body_class %}

{% block title %}
<title>アクティビティ追加</title>
{% endblock %}

{% load static %}

{% block content %}

 <!-- 左上のホーム＞のやつを作成 -->
 <div class="container mx-auto px-4 pt-20 text-textBlack">
  <nav class="text-lg">
   <a href="{% url 'activity:home' %}" class="hover:underline text-#474747">ホーム</a>
   <span> &gt; </span>
   <span id="testset">アクティビティ追加</span>
  </nav>
 </div>


<!-- タイトルの作成 -->
<div class="container mx-auto px-4 pt-4 flex items-center justify-center">
  <h1 class="text-center bg-snow text-xl md:text-3xl text-textBlack">
    アクティビティ一覧
  </h1>
  <svg class="h-6 w-6 md:h-8 md:w-8 ml-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" style="max-width: 100%;" id="mattermost">
    <!-- SVG内容 -->
    <path id="mattermost_path" fill="#000000" stroke="none"
        d="M 250.05,34.00
           C 251.95,34.04 253.85,34.11 255.65,34.20
             255.65,34.20 225.86,69.71 225.86,69.71
             225.79,69.72 225.71,69.74 225.63,69.75
             149.26,84.10 98.22,146.50 98.22,222.97
             98.22,264.53 121.29,313.47 157.97,342.07
             186.58,364.39 222.26,378.97 259.18,378.97
             352.58,378.97 419.33,310.36 419.33,222.97
             419.33,188.06 403.34,150.20 377.57,122.21
             377.57,122.21 375.94,74.82 375.94,74.82
             430.39,113.97 465.89,177.84 466.00,249.99
             466.00,250.00 466.00,250.00 466.00,250.00
             466.00,369.29 369.30,466.00 250.00,466.00
             130.71,466.00 34.00,369.29 34.00,250.00
             34.00,130.71 130.71,34.00 250.00,34.00
             250.00,34.00 250.05,34.00 250.05,34.00 Z
           M 314.15,54.29
           C 314.81,54.25 315.47,54.32 316.11,54.54
             319.12,55.54 319.96,58.11 320.04,60.99
             320.04,60.99 323.88,207.87 323.88,207.87
             324.64,236.53 306.72,276.31 263.49,276.43
             232.52,276.51 199.81,255.60 199.81,216.30
             199.82,201.57 205.42,185.04 219.06,168.19
             219.06,168.19 309.09,57.01 309.09,57.01
             310.24,55.59 312.17,54.43 314.15,54.29
             314.15,54.29 314.15,54.29 314.15,54.29 Z" />
  </svg>
</div>
 <hr class="mx-10 my-4 border-2 border-blackGreen shadow-md" />


 {% comment %} まだ連携できてない {% endcomment %}
<!-- 入力フォーム3つを囲むのコンテナ。小さくなった時の文字の消失はまた後日訂正 -->
<div class="container mx-auto px-4 py-10">
  <form id="activityRecordForm" method="post" class="grid grid-cols-1 gap-6 max-w-screen-xl mx-auto activityRecordForm" onsubmit="event.preventDefault(); submitForm();">
      {% csrf_token %}
    <!-- カテゴリー選択フォーム -->
    <div class="relative mx-auto w-1/2 h-14">
      <div class="absolute inset-0 bg-blackGreen rounded-lg"></div>
      <img src="{% static 'admin/img/pencil-icon.png' %}" alt="category icon" class="absolute left-4 top-1/2 transform -translate-y-1/2 h-6 w-6" />
      <select id="category" name="{{ form.category.name }}" class="form-select block bg-gray-300 w-1/2 translate-x-1/2 translate-y-1/3 pl-16 pr-8 py-2 bg-transparent text-textBlack rounded-lg">
        <!-- カテゴリーオプションの初期値指定 -->
        <option value="">カテゴリーを選択してください</option>
        <!-- カテゴリーオプションはformsからデータを取得 -->
          {% for category in form.fields.category.queryset %}
          <option value="{{ category.id }}" {% if category.id == form.fields.category.initial %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </select>
  </div>

  <!-- カレンダー選択フォーム -->
  <div class="relative mx-auto w-1/2 h-14">
      <div class="absolute inset-0 bg-blackGreen rounded-lg"></div>
      <img src="{% static 'admin/img/calendar-icon.png' %}" alt="calendar icon" class="absolute left-4 top-1/2 transform -translate-y-1/2 h-6 w-6" />
      <input type="date" id="date" name="{{ form.date.name }}" class="block bg-gray-300 w-1/2 translate-x-1/2 translate-y-1/4 pl-16 pr-8 py-2 bg-transparent text-textBlack rounded-lg" value="今日の日付" />
  </div>

  <!-- 時間選択フォーム -->
  <div class="relative mx-auto w-1/2 h-14">
      <div class="absolute inset-0 bg-blackGreen rounded-lg"></div>
      <img src="{% static 'admin/img/clock-icon.png' %}" alt="clock icon" class="absolute left-4 top-1/2 transform -translate-y-1/2 h-6 w-6" />
      <input type="time" id="duration" name="{{ form.duration.name }}" class="block bg-gray-300 w-1/2 translate-x-1/2 translate-y-1/4 pl-16 pr-8 py-2 bg-transparent text-textBlack rounded-lg" value="00:00" />
  </div>

  <!-- メモの入力フォーム。小さくなったときのリサイズはまた後日。 -->
  <div class="bg-white w-7/12 mx-auto p-6 rounded shadow relative">
      <textarea class="w-full text-sm border-none outline-none resize-none" rows="10" placeholder="メモ" name="memo"></textarea>
  </div>

  <!-- 送信ボタンを追加 -->
  <div class="text-center">
    <button type="submit" class="flex justify-center mx-auto btn-blackGreen text-textBlack h-10 w-40 p-2 rounded mt-4">
      積み上げを記録する
    </button>
  </div>
  </form>
  </div>
  </div>


 <!-- モーダルの背景。普段はhiddenで、ボタンを押されたらjsでremove。 -->
 <div id="modal-bg" class="hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50">
  <!-- モーダルの背景（見えてる部分） -->
  <div class="bg-white w-11/12 h-2/3 md:max-w-md mx-auto rounded shadow-lg p-6 mt-20 relative">
   <!-- 閉じるボタン。 -->
   <button id="close-modal" class="absolute top-2 right-2">
    <img src="{% static 'admin/img/close_button.png' %}" alt="close" width="24" height="24" />
   </button>
   <!-- 完了文 -->
   <h3 class="text-xl font-bold mb-4 text-center mt-8">入力が完了しました</h3>

   <!-- 累計の円。 -->
   <!-- 累計日数の円、累計時間の要素、積み上げボタンを囲む部分（形変えたいからコンテナではない） -->
   <div class="w-full mx-auto">
    <div class="flex flex-wrap justify-between">
     <!-- 累計日数の円の要素の位置する場所（大きさ） -->
     <div class="mx-auto">
      <div class="relative w-28 h-28 md:w-48 md:h-48">
       <div
        class="absolute inset-0 flex justify-center items-center bg-orangerange rounded-full w-full h-full shadow-lg"
       ></div>
       <div
        class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white text-textBlack rounded-full p-4 w-3/4 h-3/4"
       >
        <div class="flex justify-center items-center h-full">
         <div class="text-center">
          <p class="mb-1 text-sm md:text-base">累計日数</p>
          {% comment %} idがtotaldaysでおなじだったからこのまま反映されそう。 {% endcomment %}
          <span class="text-2xl md:text-3xl" id="totalDays">:</span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <p class="text-center mt-8" id="quote"></p>
   <div class="flex justify-center mt-8 space-x-4">
    {% comment %} 書くボタンにバックエンドに合わせてidを足した。 {% endcomment %}
    <button class="bg-orangerange text-white px-4 py-2 rounded" id="homeButton">ホームへ</button>
    <button class="bg-orangerange text-white px-4 py-2 rounded" id="recordButton">レコードへ</button>
   </div>
   <div class="flex justify-center mt-8">
    <svg class="h-9 w-9 md:h-12 md:w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" style="max-width: 100%;" id="post">
      <!-- SVG内容 -->
      <!-- (SVGの内容は省略) -->
      <path id="mattermost_path" fill="#000000" stroke="none"
        d="M 250.05,34.00
           C 251.95,34.04 253.85,34.11 255.65,34.20
             255.65,34.20 225.86,69.71 225.86,69.71
             225.79,69.72 225.71,69.74 225.63,69.75
             149.26,84.10 98.22,146.50 98.22,222.97
             98.22,264.53 121.29,313.47 157.97,342.07
             186.58,364.39 222.26,378.97 259.18,378.97
             352.58,378.97 419.33,310.36 419.33,222.97
             419.33,188.06 403.34,150.20 377.57,122.21
             377.57,122.21 375.94,74.82 375.94,74.82
             430.39,113.97 465.89,177.84 466.00,249.99
             466.00,250.00 466.00,250.00 466.00,250.00
             466.00,369.29 369.30,466.00 250.00,466.00
             130.71,466.00 34.00,369.29 34.00,250.00
             34.00,130.71 130.71,34.00 250.00,34.00
             250.00,34.00 250.05,34.00 250.05,34.00 Z
           M 314.15,54.29
           C 314.81,54.25 315.47,54.32 316.11,54.54
             319.12,55.54 319.96,58.11 320.04,60.99
             320.04,60.99 323.88,207.87 323.88,207.87
             324.64,236.53 306.72,276.31 263.49,276.43
             232.52,276.51 199.81,255.60 199.81,216.30
             199.82,201.57 205.42,185.04 219.06,168.19
             219.06,168.19 309.09,57.01 309.09,57.01
             310.24,55.59 312.17,54.43 314.15,54.29
             314.15,54.29 314.15,54.29 314.15,54.29 Z" />
    </svg>
  </div>
  </div>
 </div>


  {# Error messages #}
  <div id="errorMessages" style="display: none;">
    <ul id="errorMessageList">
    </ul>
  </div>

  <!-- 以下Mattermost関連機能追加 -->
  <!-- モーダルの背景。普段はdisplay:noneでblockにして表示する。 -->
 <div id="successModal" style="display:none;" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50 flex items-center justify-center">
  <!-- モーダルの背景（見えてる部分） -->
  <div class="bg-white w-11/12 h-1/3 md:max-w-md mx-auto rounded shadow-lg p-6 mt-20 relative">
    <h5 class="text-center mt-4 md:mt-8">Mattermost</h5>
    <p class="text-center mt-4 md:mt-8">投稿しました！</p>
    <div class="flex justify-center mt-4 md:mt-8">
      <button class="bg-modalGray text-textBlack px-4 py-2 rounded" id="closeSuccessModalButton">閉じる</button>
    </div>
  </div>
</div>

 <!-- モーダルの背景。普段はdisplay:noneでblockにして表示する。 -->
 <div id="failModal" style="display:none;" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50 flex items-center justify-center">
  <!-- モーダルの背景（見えてる部分） -->
  <div class="bg-white w-11/12 h-1/3 md:max-w-md mx-auto rounded shadow-lg p-6 mt-20 relative">
    <h5 class="text-center mt-4 md:mt-8">Mattermost</h5>
    <p class="text-center mt-4 md:mt-8">投稿できませんでした。</br>トークンが間違っていないか確認してください。</p>
    <div class="flex justify-center mt-4 md:mt-8">
      <button class="bg-modalGray text-textBlack px-4 py-2 rounded" id="closeFailModalButton">閉じる</button>
    </div>
  </div>
</div>

<!-- モーダルの背景。普段はdisplay:noneでblockにして表示する。 -->
<div id="tokenModal" style="display:none;" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50 flex items-center justify-center">
  <!-- モーダルの背景（見えてる部分） -->
  <div class="bg-white w-11/12 h-1/3 md:max-w-md mx-auto rounded shadow-lg p-6 mt-20 relative">
    <h5 class="text-center mt-4 md:mt-8">Mattermostのトークンを入力してください</h5>
    <div class="text-center mt-4 md:mt-8">
      <input type="text" id="tokenInput" class="border-2 border-gray-300 p-2 w-full" placeholder="ここにトークンを入力してください" maxlength="50">
      <p id="errorText" class="text-red-500"></p>
    </div>
    <div class="flex justify-center mt-4 md:mt-8 space-x-4">
      <button class="bg-modalGray text-textBlack px-4 py-2 rounded w-32 h-10" id="registerButton">登録</button>
      <button class="bg-modalGray text-textBlack px-4 py-2 rounded w-32 h-10" id="registerCancelButton">キャンセル</button>
    </div>
  </div>
</div>

<!-- Mattermostここまで -->


<script src="{% static 'admin/js/activity_add.js' %}"></script>

{% endblock content %}
