<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!-- Chart.jsの読み込み -->
    <title>CategoryHome</title>
  </head>
  <body>
    <!-- カテゴリー名や目標、合計時間、7日間の時間などの基本情報 -->
    <div id="category-info">
        <h2 id="category-name"></h2>
        <div id="category-detail"></div>
    </div>
    <p>カテゴリーの目標： <span id="category-goal"></span></p>
    <p>カテゴリーの累計時間： <span id="category-total-duration"></span></p>
    <p>カテゴリーの累計日数： <span id="category_total_days"></span></p>
    <ul id="date-list"></ul>
    <ul id="duration-list"></ul>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
        const categoryId = '{{ category.id }}';
        const url = `/categories/${categoryId}/category_detail_ajax/`;
        $.getJSON(url, function(data) {
            $('#category-name').text(data.categoryname);
            $('#category-info').css('background-color', data.color_code);
            $('#category-goal').text(data.goal);
            $('#category-total-duration').text(data.category_total_duration);
            $('#category_total_days').text(data.category_total_days);

            const $dateList = $('#date-list');
            const $durationList = $('#duration-list');
            data.dates.forEach((date, index) => {
            $dateList.append(`<li>${date}</li>`);
            const duration = data.duration_list[index];
            $durationList.append(`<li>${duration}</li>`);
            });
        });
        });
    </script>
    </body>
</html>
